// Button for toggling viewer modal
// ==================================================

.viewer-button {
  position: absolute;
  top: -40px;
  right: -40px;

  overflow: hidden;

  width: 80px;
  height: 80px;

  @include bg-color($color-black, .5);
  border-radius: 50%;

  cursor: pointer;

  &:before {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
}
