// Canvas for putting and handling image
// ==================================================

.viewer-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  > img {
    width: auto;
    height: auto;
    max-width: 90% !important;
    margin: 15px auto;
  }
}
