// Footer for wrapping title, toolbar and navbar
// ==================================================

.viewer-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  text-align: center;
}
