// Mixins
// ==================================================

@mixin opacity($alpha: 1) {
  opacity: $alpha;

  filter: alpha(opacity=#{$alpha * 100});
}

@mixin bg-color($color, $alpha: 1) {
  background-color: $color;
  background-color: rgba($color, $alpha);
}

@mixin text-hide() {
  font-size: 0;
  line-height: 0;

  color: transparent;
}
