// Navbar for listing thumbnails and navigating views
// --------------------------------------------------

.viewer-navbar {
  overflow: hidden;

  background-color: rgba($color-black, .5);
}

.viewer-list {
  overflow: hidden;
  box-sizing: content-box;

  height: 50px;
  margin: 0;
  padding: 1px 0;

  > li {
    @include text-hide();

    float: left;
    overflow: hidden;

    width: 30px;
    height: 50px;

    cursor: pointer;

    opacity: .5;

    + li {
      margin-left: 1px;
    }
  }

  > .viewer-active {
     opacity: 1;
  }
}
