.viewer-navbar {
  overflow: hidden;
  @include bg-color($color-black, .5);
}

.viewer-list {
  height: 50px;
  margin: 0;
  padding: 1px 0;
  box-sizing: content-box;
  overflow: hidden;

  > li {
    float: left;
    width: 30px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    @include text-hide();
    @include opacity(.5);

    + li {
      margin-left: 1px;
    }
  }

  > .viewer-active {
     @include opacity(1);
  }
}
