// Title for showing image's name and dimensions
// --------------------------------------------------

.viewer-title {
  font-size: 12px;
  line-height: 1;

  display: inline-block;
  overflow: hidden;

  max-width: 90%;
  margin: 0 5% 5px;

  text-overflow: ellipsis;
  white-space: nowrap;

  opacity: .8;
  color: $color-grey;

  &:hover {
    opacity: 1;
  }
}
