// Tooltip for showing image ratio when zooming
// ==================================================

.viewer-tooltip {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 50px;
  height: 20px;
  display: none;
  margin-top: -10px;
  margin-left: -25px;

  font-size: 12px;
  line-height: 20px;

  color: $color-white;
  border-radius: 10px;
  text-align: center;

  @include bg-color($color-black, 0.8);
}
