// Variables
// ==================================================

// Colors
// -------------------------

$color-black: #000 !default;
$color-white: #fff !default;
$color-grey: #ccc !default;


// Media queries breakpoints
// -------------------------

$screen-xs: 480px; // Extra small screen / phone
$screen-sm: 768px; // Small screen / tablet
$screen-md: 992px; // Medium screen / desktop
$screen-lg: 1200px; // Large screen / wide desktop
